#header nav {
  display: flex;
  justify-content: space-between;
  background-color: red;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
#header nav .nav1 {
  display: flex;
  flex-direction: row;
}

.div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}
.div2 li a {
  color: white;
  padding: 45px 15px;
}
.div2 li a:hover {
  background-color: rgba(255, 255, 255, 0.322);
}
.div2 li a:hover:active {
  background-color: gray;
}

.bg-a-nav {
  background-color: rgba(0, 0, 0, 0.589);
}

.main-1 {
  height: 100%;
}

.lista-precios {
  width: 100%;
}

/* Video institucional */
.video-i p {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  padding: 35px;
}
.video-i iframe {
  width: 100%;
  height: 100vh;
}

/* Quienes somos */
#main-2 {
  height: 70vh;
}
#main-2 p {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  padding: 35px;
}

.div-qs {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px 300px 50px 300px;
}
.div-qs img {
  height: 400px;
  width: 600px;
}
.div-qs span {
  color: rgba(0, 0, 0, 0.527);
  font-size: 1rem;
  font-weight: 600;
}

.negrita {
  color: black;
  font-size: 20px;
  font-weight: 700;
}

/* Historia */
#main-2 {
  height: 70vh;
}
#main-2 p {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  padding: 35px;
}

.div-h {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px 300px 50px 300px;
}
.div-h img {
  height: 400px;
  width: 600px;
}
.div-h span {
  color: rgba(0, 0, 0, 0.527);
  font-size: 1rem;
  font-weight: 600;
}

.negrita {
  color: black;
  font-size: 20px;
  font-weight: 700;
}

/* Contacto */
#main-5 {
  height: 70vh;
}
#main-5 p {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}

.div-contacto1 {
  padding: 10px 650px;
}

.bt-ct {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#main-5 iframe {
  width: 100%;
}

#main-5 {
  height: 1040px;
}

footer .section-1 {
  display: flex;
  background-color: #222222;
  justify-content: space-between;
  padding: 25px;
  padding-left: 5rem;
  padding-right: 5rem;
}
footer .section-1 p {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
}
footer .section-1 li,
footer .section-1 .id-correo {
  display: flex;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 0.342);
  font-size: 1rem;
  font-weight: 500;
}
footer .section-1 a {
  color: rgba(255, 67, 67, 0.63);
}
footer .section-1 a:hover {
  color: white;
}

#span1 {
  color: rgba(255, 255, 255, 0.342);
}

ul {
  padding-left: 0rem;
}

.id-correo:hover {
  color: white;
}

.div-menu {
  display: flex;
  gap: 2rem;
}

.section-1 {
  border-top: solid white 1px;
  border-bottom: solid white 8px;
}

/* SECTION 2 */
.section-2 {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.div-icon {
  display: flex;
  gap: 50px;
  font-size: 1.5rem;
}
.div-icon a {
  color: white;
  padding: 6px 15px;
  border: 1px solid white;
  border-radius: 50%;
}
.div-icon .a-ig:hover {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.div-icon .a-fb:hover {
  background-color: rgb(4, 94, 124);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}
* a {
  text-decoration: none;
}

#contenedor {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

body {
  padding-top: 100px;
}/*# sourceMappingURL=style.css.map */