.main-1{
    height: 100%;
}

#main-2{
    height: 70vh;
}
.lista-precios{
    width: 100%;
}

.video-i{
    p{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    padding: 35px;
}
    iframe{
        width: 100%;
        height: 100vh;
    }
}