.main-1{
    height: 100%;
}

.lista-precios{
    width: 100%;
}

/* Video institucional */
.video-i{
    p{
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    padding: 35px;
}
    iframe{
        width: 100%;
        height: 100vh;
    }
}

/* Quienes somos */
#main-2{
    height: 70vh;
    p{
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
        padding: 35px;
    }
}

.div-qs{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 300px 50px 300px;
    img{
        height: 400px;
        width: 600px;
    }
    span{
       color: rgba(0, 0, 0, 0.527);
       font-size: 1rem;
       font-weight: 600;
    }
}

.negrita{
    color: black;
    font-size: 20px;
    font-weight: 700;
}

/* Historia */
#main-2{
    height: 70vh;
    p{
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
        padding: 35px;
    }
}

.div-h{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 300px 50px 300px;
    img{
        height: 400px;
        width: 600px;
    }
    span{
       color: rgba(0, 0, 0, 0.527);
       font-size: 1rem;
       font-weight: 600;
    }
}

.negrita{
    color: black;
    font-size: 20px;
    font-weight: 700;
}

/* Contacto */
#main-5{
    height: 70vh;
    p{
        font-size: 1.8rem;
        font-weight: 700;
        text-align: center;
        padding: 20px;
    }
}

.div-contacto1{
    padding: 10px 650px;
}
.bt-ct{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#main-5 iframe{
    width: 100%;
}

#main-5{
    height: 1040px;
}
